<span style='color: #000' title='Frames'>  1120</span><span style='color: #009' title='Memory'>  49408.00 KB</span><span style='color: #900' title='Time'>   2438.15 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />