<!--body, nav, ul, li, a  {margin: 0; padding: 0;}-->
body {/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */ }
a {text-decoration: none;}

.toggleMenu { display:  none; /*background:#00008C;*/ background:green; padding: 10px 20px; color: #fff;}
.nav { list-style: none;  /*background:#003366;*/ background: white; padding-top: 6px;}

/*
.nav:before,.nav:after {  content: " ";  display: table; }*/
.nav:after { clear: both;}
.nav a { color:black; /*border-right:2px solid #004080;*/ }
.nav > li { float: left; padding-left: 12px; text-transform: uppercase; letter-spacing: 1px;
    font-weight: 400; font-size: 14px; }
.nav > .divider { color:white; padding-top:1%; padding-left: 20px;}


@media screen and (max-width: 1025px) {
    .active { display: block; }
    .nav > li {float: none;  }
    .nav > li > .parent {background-position: 95% 50%;  }
    .nav li li .parent {  background-image: url("images/downArrow.png"); background-repeat: no-repeat; background-position: 95% 50%; }
    .nav ul { display: block;  width: 100%; }
   .nav > li.hover > ul , .nav li li.hover ul {  position: static; }
   .nav > .divider { display:none;}
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #168eea;
  color:white !important;
}

.navbar-default .navbar-nav>li>a {
    color: #444;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding: 11px 22px!important;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #168eea;;
    border-color: #337ab7;
}