/*-------------footer Css----------------------------------*/

.footer_content {  width:100%; height:auto; padding:3% 3%; }

.cstmFooterHeader  { height:auto; padding-left: 83px; font-size: 20px; padding-bottom: 0px; font-weight: bold; color:green !important}
.lnkFooterHome { color:green}
.cstmFooterContent { height:auto; font-size:16px;}
.ulList { padding-left:75px}
.ulList li { list-style:none; padding:5px;}
.ulList li a{ text-decoration:none; color:#bfbebe !important; font-size:14px; font-weight:bold; }

.Link-text-centered { transition-property: color, text; transition-duration: 2s; transition-timing-function: linear, ease-in; }
.Link-animated { animation-duration: 3s;   animation-fill-mode: both;}
.Link-text-centered:hover {   color:#00a9df;}
.Link-animated {animation-duration: 2s; animation-fill-mode: both;}
.Link-fadeInUp {  opacity: 0;  transform: translateY(400px);}
.Link-fadeInUp { animation-name: fadeInUp;}
.footerLinkContact {font-size: 18px; padding:12px 28px; color: #bfbebe;}
.FooterContactSection{height:auto;  }
@media (max-width: 768px) {
    .FooterContactSection{ font-size:13px; }
    .footerLinkContact {padding:12px 12px; font-size:13px !important}
}


/*------------------------About Us 1page---------------------*/

.image-aboutus img{ height:200px; width:200px; }
.image-aboutus { padding:10px;}
.comp-aboutUs-page { border:1px solid #CCC; height:auto; padding:5px; min-height:500px;
/*box-shadow: 0px 1px 3px #AAA; */
margin-top:7px}

/*service Page  Css*/
.comp-service-page {border:1px solid #CCC; height:auto; 
		    padding:5px; min-height:500px; 
		    /* box-shadow: 0px 1px 3px #AAA;*/
		    margin-top:7px}
.ServiceImage { padding:10px;}
.ServiceImage img { height:200px; width:150px; }

/*heador top Home Css*/

/*.contact-class{ padding-top:38px; font-size: 19px;	}*/
.top-header{
	/*background-color:#e9f1ed63;*/
	background-color: black;
	color: white;
}
.active-tab a{color: green !important;}
.contact-class{ padding-top:9px; font-size: 16px;	}
.company_name{	padding-top: 9%; padding-bottom: 4%; font-weight: bold; font-stretch: normal;  height: auto; margin-bottom: 5px;
               font-size: 2.3vw; color: #576881fc; letter-spacing:2}
.social-link { padding-top:10px; }	

.ic1:hover { color: #FFF; background:/* #3B5997*/ green none repeat scroll 0px 0px; box-shadow: 0px 1px 3px #AAA; transition: all 500ms ease 0s; border: 1px solid #FFF;}
.ic1 { background: #FFF none repeat scroll 0px 0px; border: 1px solid #B9B9B9; box-shadow: 0px 1px 3px #AAA; color: #3B5997;  margin-right: 5px;font-size: 21px; padding: 6px 8px;
       text-align: center; transition: all 500ms ease 0s;}	

.title { font-size: 25px;   padding-top: 5px; letter-spacing: 3; font-weight: bold; color: green; }	
.content { padding:30px; font-size: 18px; padding: 10px 30px 30px 56px; }

.comp-titl-content{width:100%; height:200px; margin-top:5px}

.fa { display:inline-block; font-family: FontAwesome; font-style:normal; line-height:1; font-size-adjust:none; font-stretch:normal; font-feature-setting:normal; font-langauge-override:normal; font-kerning:auto; font-synthesis:weight-style; font-variant:normal; font-size:inherit; text-rendering:auto;}

.white_icon { background-color:#FFF; border:1px solid green; border-radius:100%; font-size:40px; padding:50px 58px; /*padding:20px 25px;*/ }

.white_icon:hover { box-shadow: 0px 0px 0px 0px rgba(89, 165, 69, 0.6); transition: box-shadow 0.4s ease-in-out 0s; transition-property: box-shadow;
                    transition-duration: 0.4s; transition-timing-function: ease-in-out;  transition-delay: 0s; color: white; background: green none repeat scroll 0px 0px;}
.fontcolor { color: green;  font-weight: bold; font-size: 14px;  line-height: 20px;}

a:hover, a:focus { color: #2A6496; text-decoration: underline;}
a:active, a:hover {    outline: 0px none;}

.bdr_right {border-right:#CCC dashed 1px; margin-bottom:2%; margin-top:2%; height:400px; background-color: #f6f9f9; overflow:hidden}

.text-centered {  text-align: center; font-size:12px;   transition-property: color, text; transition-duration: 1s; transition-timing-function: linear, ease-in; }
.animated { animation-duration: 1.5s;   animation-fill-mode: both;}
.bounceIn {  animation-name: bounceIn; padding-top:44px;}
.text-centered:hover {   color: #FF5604;}
.animated {animation-duration: 1s; animation-fill-mode: both;}
.fadeInUp {  opacity: 0;  transform: translateY(400px);}
.animated { animation-duration: 1.5s; animation-fill-mode: both;}
.fadeInUp { animation-name: fadeInUp;}
.p-title { background:green; color:white; width:100%; font-size:18px; padding: 11px; letter-spacing:3;}
.service-content { font-size:15px; letter-spacing:.4; text-align:justify; height:130px; overflow:hidden;}

.fadeInRight  {margin-top: 50px;}
.button_menu	{border:1px solid #CCC; height:auto; padding:5px; box-shadow: 0px 1px 3px #AAA; margin-top:7px}

hr{ margin-top: 27px !important; border:1px solid #58cc66  !important; }
.contact-form {width:100%; height:502px; border:1px solid #ccc; margin-top:5px; box-shadow: 0px 1px 3px #AAA;}
.enquiry-title { border-bottom: 1px solid #CCC;text-align: center;padding: 11px 10px;font-size: 18px;background-color: #f1f1f1; color:green}
.textField { border-radius:0px !important; padding: 12px 20px !important; height: 53px !important;}
.cstmInputs {   margin-bottom: 8px;}
#enquiry_btn { padding:20px; height: 55px; font-size: 21px; padding-top: 12px; }
.requiredMsg { color:red; font-size:10px; display:none;}
.readMore{ padding:3px; float:right; }
.readMore a {color:#e49494 !important}
.readMore a:hover{ background-color:#990033; padding:3px; text-decoration:none; color:white !important;}
@media (max-width: 768px) {

    #scrollToTop span { z-index:9999}
}
#scrollToTop {position:fixed; right:10px; bottom:10px; cursor:pointer; width:50px; height:50px; background-color:#3B5997; text-indent:-9999px; display:none;
              -webkit-border-radius:60px;
              -moz-border-radius:60px;
              border-radius:60px
}
#scrollToTop span {position:absolute;top:50%;left:50%;margin-left:-8px;margin-top:-12px;height:0;width:0;border:8px solid transparent;border-bottom-color:#ffffff;z-index:9999}
#scrollToTop:hover {background-color:green; opacity:1; filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)";}

.padding-top{ 
    padding-top:26px
}

/* Home Testimonial*/
.imageDiscount{
    /*background-image: url("<?php echo base_url() ?>assets/images/discount-price-tags.jpg");
    height:180px;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;			
}

.testimonials {
    overflow: hidden;
    position: relative;
    /*max-height: 300px;*/
    height: 220px;
}

.testimonials {
    background: #161d25;
}

.one-slide,
.testimonial,
.message {
    border: none !important;
    outline: none !important;
}

.icon-overlay {
    position: absolute;
    opacity: 0.3;
    right: 10%;
    top: 0;
    height: auto;
    width: 30%;
    max-width: 400px;
}

.carousel-controls .control {
    position: absolute;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 1;
}

.prev {
    left: -2.25rem;
}

.next {
    right: -2.25rem;
}
.font-size15{
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .testimonials {
        max-height: 700px;
    }
    .icon-overlay {
        height: 300px;
        top: calc(50% - 150px);
    }
    .carousel-controls .control {
        width: 25px;
        height: 25px;
        top: inherit;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    .control i {
        font-size: .7rem;
    }
    .testimonials .message {
        font-size: 1rem;
    }
    .testimonials h2 {
        font-size: 1.5rem;
    }
}