<!--body, nav, ul, li, a  {margin: 0; padding: 0;}-->
body {/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */ }
a {text-decoration: none;}

.toggleMenu { display:  none; background:#333; padding: 5px 10px; color: #fff;}

.nav { list-style: none;  background:#333;}
/*
.nav:before,.nav:after {  content: " ";  display: table; }*/
/*.nav:after { clear: both;}*/
.nav a { color:#fff; font-size:16px;	/*border-right:2px solid #004080;*/ }
.nav > li { float: left; }
.nav > .divider { color:white; padding-top:1%;}
 .hover { color:blue !important;  }
 .nav li:hover a { color:blue !important}

@media screen and (max-width: 1025px) {
    .active { display: block; }
    .nav > li {float: none;  }
    .nav > li > .parent {background-position: 95% 50%;  }
    .nav li li .parent {  background-image: url("images/downArrow.png"); background-repeat: no-repeat; background-position: 95% 50%; }
    .nav ul { display: block;  width: 100%; }
   .nav > li.hover > ul , .nav li li.hover ul {  position: static; }
   .nav > .divider { display:none;}
  
}